.row {
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.row:first-child {
  margin-top: 6%;
}

.cell {
  width: 25%;
  text-align: center;
}

.cell div.post {
  background-color: #12B262;
  margin: 25px;
  height: 185px;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.cell div.post div.header {
  line-height: 2rem;
  border-bottom: 1px solid #fafafa;
  color: #fafafa;
  font-family: 'Cinzel', serif;
}

.cell div.post div.footer {
  border-top: 1px solid #fafafa;
  color: #fafafa;
  font-family: 'Cinzel', serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cell div.post div.body {
  line-height: 2rem;
  color: #fafafa;
  font-family: 'Mate', serif;
  font-size: 12px;
  padding: 5px;
}

.cell div.post div.body p {
  text-align: justify;
  margin-left: 15px;
  margin-right: 15px;
  line-height: 1.2rem;
  height: 60px;
}

.nodejs {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
