<app-navbar></app-navbar>

<div class="main">
  <div class="portfolio">
    <div class="title">
      Portfolio
    </div>
  </div>
  <div class="row">
    <div class="cell">
      <div class="post">
        <div class="header">
          F-Stats
        </div>
        <div class="body">
          <p>
            Angular website made out <a href="http://www.football-data.org">football-data.org</a>
            aiming to help some friends with their football bets.
          </p>
          <div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/512px-Angular_full_color_logo.svg.png" height="20px"/>
            <img class="nodejs" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/590px-Node.js_logo.svg.png" height="20px"/>
          </div>
        </div>
        <div class="footer">
          <div style="width: 50%"><a target="_blank" href="http://mquentin.ddns.net/" style="text-decoration: none; color: white">Link</a></div>
          <div style="width: 50%">More</div>
        </div>
      </div>
    </div>
    <div class="cell">
      <div class="post">
        <div class="header">
          F-Stats Mobile
        </div>
        <div class="body">
          <p>
            Ionic app made out <a href="http://www.football-data.org">football-data.org</a>
            aiming to help some friends with their football bets.
          </p>
          <div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Ionic_Logo.svg/512px-Ionic_Logo.svg.png" height="20px"/>
          </div>
        </div>
        <div class="footer">
          <div style="width: 50%"><a target="_blank" href="https://mega.nz/#F!eXBF0Q6B!lveOgPSEAQC8yLV589vSZw" style="text-decoration: none; color: white">Link</a></div>
          <div style="width: 50%">More</div>
        </div>
      </div>
    </div>
    <div class="cell">
      <div class="post">
        <div class="header">
          Dev Landing Page
        </div>
        <div class="body">
          <p>
            Angular personal website
          </p>
          <div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/512px-Angular_full_color_logo.svg.png" height="20px"/>
          </div>
        </div>
        <div class="footer">
          <div style="width: 50%"><a target="_blank" href="https://mquentin37.github.io/dlp" style="text-decoration: none; color: white">Link</a></div>
          <div style="width: 50%"><a style="text-decoration: none; color: white">More</a></div>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="soon">-->
      <!--MISSING LINKS AND MORE COMING SOON-->
  <!--</div>-->
</div>
