<app-navbar></app-navbar>

<div>
  <div class="row">
    <div class="cell">
      <div class="post">
        <div class="header">
          F-Stats
        </div>
        <div class="body">
          <p>
            Angular website made out <a href="http://www.football-data.org">football-data.org</a>
            aiming to help some friends with their football bets.
          </p>
          <div>
            <img src="/assets/logos/angular_whiteTransparent.svg" height="20px"/>
            <img class="nodejs" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/590px-Node.js_logo.svg.png" height="20px"/>
          </div>
        </div>
        <div class="footer">
          <div style="width: 50%"><a href="http://mkeut.ddns.net" style="text-decoration: none; color: white">Link</a></div>
          <div style="width: 50%">More</div>
        </div>
      </div>
    </div>
    <div class="cell">
      <div class="post">
        <div class="header">
          F-Stats Mobile
        </div>
        <div class="body">
          <p>
            Ionic app made out <a href="http://www.football-data.org">football-data.org</a>
            aiming to help some friends with their football bets.
          </p>
          <div>
            <img src="/assets/logos/angular_whiteTransparent.svg" height="20px"/>
          </div>
        </div>
        <div class="footer">
          <div style="width: 50%"><a href="http://mkeut.ddns.net" style="text-decoration: none; color: white">Link</a></div>
          <div style="width: 50%">More</div>
        </div>
      </div>
    </div>
    <div class="cell">
      <div class="post">
        <div class="header">
          Dev Landing Page
        </div>
        <div class="body">
          <p>
            Angular personal website
          </p>
          <div>
            <img src="/assets/logos/angular_whiteTransparent.svg" height="20px"/>
          </div>
        </div>
        <div class="footer">
          <div style="width: 50%"><a href="https://mquentin.github.io" style="text-decoration: none; color: white">Link</a></div>
          <div style="width: 50%"><a href="https://github.com/mquentin37/mquentin.github.io" style="text-decoration: none; color: white">More</a></div>
        </div>
      </div>
    </div>
  </div>
</div>

<a class="previous" [routerLink]="['/about']" title="About">
  <fa name="arrow-circle-left"></fa>
</a>
