<app-navbar></app-navbar>

<div>
  <div class="row">
    <div class="cell">
      <div class="post">
        <div class="header">
          ABCD
        </div>
        <div class="body">
          Efgh
        </div>
      </div>
    </div>
    <div class="cell">
      <div class="post">
        <div class="header">
          ABCD
        </div>
        <div class="body">
          Efgh
        </div>
      </div>
    </div>
    <div class="cell">
      <div class="post">
        <div class="header">
          ABCD
        </div>
        <div class="body">
          Efgh
        </div>
      </div>
    </div>
  </div>
</div>

<a class="previous" [routerLink]="['/about']" title="About">
  <fa name="arrow-circle-left"></fa>
</a>
