<div class="container">
  <div class="post">

    <div [style.height.%]="headerPostHeight" class="header_post" (mouseenter)="headerHover()" (mouseleave)="headerLeave()">
      <img src={{srcImage}} alt="">
    </div>

    <div [style.height.%]="bodyPostHeight" class="body_post" (click)="onClick()">
      <div class="post_content">
        <h1>{{title}}</h1>
        <p [style.height.%]="pBodyPostHeight">{{description}}</p>

        <div class="container_infos" *ngIf="technologies">
          <div class="postedBy">
            <span>technologies</span>
            <ng-container *ngFor="let technology of technologies">
              <div [innerHTML]="technology"></div>
            </ng-container>
          </div>

          <div class="container_tags" *ngIf="tags">
            <span>tags</span>
            <div class="tags">
              <ul>
                <li *ngFor="let tag of tags">{{tag}}</li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
