@import "../../../variables";

.about {
  top: 20%;
  position: absolute;
  display: block;
  text-align: justify;
  margin-left: 50px;
}

.title {
  font-family: 'Cinzel', serif;
  font-size: 32px;
  color: $main-font-color;
  font-weight: bolder;
  line-height: 2rem;
}

.text {
  font-family: 'Mate', serif;
  line-height: 2rem;
  font-size: 14px;
  color: $black-font-color;
  margin-top: 15px;
  margin-left: 10px;
}

p {
  margin-right: 20px;
}
