<app-navbar></app-navbar>

<div class="about">
  <div class="title">
  About
  </div>
  <div class="text">
    <p>
      I am a web developper <br/>
      Mainly using <strong>Angular and Java</strong>, but still trying to improve on other languages like <strong>.Net or Node.js</strong><br />
      Also using technologies like <strong>MySQL, MongoDB, Git, Docker</strong><br/>
      Constantly, looking for <strong>CSS / Sass</strong> new effects, and languages that could fit me.
    </p>
  </div>
</div>


<a class="previous" [routerLink]="['/home']" title="Home">
  <fa name="arrow-circle-left"></fa>
</a>

<a class="next" [routerLink]="['/portfolio']" title="Portfolio">
  <fa name="arrow-circle-right"></fa>
</a>
