<app-navbar></app-navbar>

<div class="about">
  <div class="title">
  About
  </div>
  <div class="text">
    <p>
      I am a web developper <br/>
      Mainly using <strong>Angular, .Net and Java</strong>, but still trying to improve on other languages like <strong>Node.js</strong><br />
      Also using technologies like <strong>MySQL, PostgreSQL, Git, Docker, Ionic</strong><br/>
      Constantly, looking for <strong>CSS / Sass</strong> new effects, and languages that could fit me.<br />
      If I had to chose two words ? <strong>Creativity and Curiosity.</strong>
    </p>
  </div>
</div>
