@import "../../../variables";

/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Cinzel', serif;
}

/* Style the links inside the navigation bar */
.topnav div a {
  float: left;
  color: $black-font-color;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav div a:hover {
  color: $main-color-shade;
  cursor: pointer;
}

/* Add a color to the active/current link */
.topnav div a.active {
  color: $main-font-color;
}
