<app-navbar></app-navbar>
<div class="main-pres">
  <h1>Quentin</h1>
  <h2>| Full Stack Developer | Philomath | Angular is pretty cool <fa name="thumbs-o-up"></fa> |</h2>
  <a target="_blank" href="https://github.com/mquentin37"><fa name="github"></fa></a>
  <a target="_blank" href="https://fr.linkedin.com/in/quentin-malandre-b85339b6"><fa name="linkedin"></fa></a>
  <a target="_blank" href="https://stackoverflow.com/story/mquentin"><fa name="stack-overflow"></fa></a>
  <a target="_blank" href="https://medium.com/@malandrequentin"><fa name="medium"></fa></a>
</div>

<a class="next" [routerLink]="['/about']" title="About">
  <fa name="arrow-circle-right"></fa>
</a>
