.main-pres {
  top: 40%;
  width: 100%;
  display: block;
  position: absolute;
  font-family: 'Mate', serif;
  text-align: center;
  color: #12B262;
}

.main-pres h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4rem;
}

.main-pres h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
}
