@import "../../../variables";
@charset "utf8";


*,*:after,*:before,html{
  box-sizing:border-box
}
body{
  margin:0;
  padding:0;
}
h1{
  font-family: 'Cinzel', serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 13px;
}
h1.load,.loading > div{
  top: 50%;
  left: 50%;
  display: block;
  position: absolute;
  transform: translate(-50%,-50%);
}
.loading{
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: 999;
}
.loading > div{
  width: 200px;
  height: 200px;
}
.loading > div:before,
.loading > div:after{
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  border:4px solid $black-font-color;
  border-top-color: $main-font-color;
}

.loading > div:before{
  width: 100%;
  height: 100%;
  animation: loading 5s linear infinite;
}
.loading > div:after{
  width: 150px;
  height: 150px;
  top: 25px;
  left: 25px;
  animation: loading 5s linear infinite reverse;
}
@keyframes loading{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

@function random-color() {
  $value: "white";
  @if random(5) == 1 {
    $value: "#DAF7A6";
  }
  @else if random(5) == 2{
    $value: "#FFC300";
  }
  @else if random(5) == 3{
    $value: "#FF5733";
  }
  @else if random(5) == 4{
    $value: "#82E0AA";
  }
  @else {
    $value: "#85C1E9";
  }
  @return unquote($value);
}

// n is number of stars required
@function multiple-box-shadow($n) {
  $value: "#{random(2000)}px #{random(2000)}px #{random-color()}";

  @for $i from 2 through $n {
    $value: "#{$value} , #{random(2000)}px #{random(2000)}px #{random-color()}";
  }

  @return unquote($value);
}

$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);

.parallax {
  #stars1 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: transparent;
    box-shadow: $shadows-small;
    animation: animStar 150s linear infinite;

    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 2px;
      height: 2px;
      border-radius: 50%;
      background: transparent;
      box-shadow: $shadows-small;
    }
  }

  #stars2 {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: transparent;
    box-shadow: $shadows-medium;
    animation: animStar 100s linear infinite;

    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background: transparent;
      box-shadow: $shadows-medium;
    }
  }

  #stars3 {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: transparent;
    box-shadow: $shadows-big;
    animation: animStar 50s linear infinite;

    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: transparent;
      box-shadow: $shadows-big;
    }
  }

  @keyframes animStar {
    from {
      transform: translateY(-2000px);
    }

    to {
      transform: translateY(0px);
    }
  }
}
